# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.xml

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
!tests/expected/*.out
*.app
fir

.dropbox.attr

fir_parser.tab.h
all.h
visitor_decls.h
fir_parser.output
fir_parser.tab.c
fir_scanner.cpp